.contactStyle{
    width: 100% !important;
    height: auto !important;
    margin:auto !important;

    padding-top: 20px !important;
    }
    .contactType{
        margin: 15px !important;
    }
    .contactBg{
        background-color: #f6f6f6 !important;
    }