.NavBg{
    background: #aa66aa !important;
}
.form-inline{
   margin-left: 100px !important;
}

.navli{
    text-decoration: none !important;
    color: #f1f1f1;
}
.navli:hover{
    text-decoration: none !important;
    color: #f1f1f1;
}
.navbar-brand{
    color: #f1f1f1 !important;
}
.dropdown-menu{
    background: #aa66aa !important;
    color: #f1f1f1 !important;
    border: 0px !important;
}
.dropdown-item{
    background: none !important;
}
.nav-link{
    color: #f1f1f1 !important;
}
a{
    color: #f1f1f1 !important;
}
a:hover{
    text-decoration: none;
}
.goog-te-banner{
    display: none !important;
}
.goog-te-banner{

}
.goog-te-banner-frame{
    left: 0px;
    top: 0px;
    height: 39px;
    width: 100%;
    z-index: 10000001;
    position: fixed;
    border: none;
    display: none;
    border-bottom: 1px solid #6b90da;
    margin: 0;
    -moz-box-shadow: 0 0 8px 1px #999999;
    -webkit-box-shadow: 0 0 8px 1px #999999;
    box-shadow: 0 0 8px 1px #999999;
    _position: absolute;
}
