.NavBg{
    background: #aa66aa !important;
}
.searchBar{
    margin-left:50px !important;
    background: #eeeeee;
    width: 100% !important;
}
.NavIcon{
    text-align: right;
    float:right !important;
    
}