.productDetailscard{
    width: 200px ;
    height: 50px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 4px rgba(57, 78, 234, 0.1);
    float: left;
    margin: 5px;
    text-align: center;
    padding-top: 13px;
}
.colorChoose{
    clear: both;
}
.imagepoint img{
    cursor:pointer !important;
    float: left;
}
.imagepoint img:hover{
    cursor:pointer;
}